.cartPageTitle{
    display: block;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    margin: 50px 0 75px 0;
}
.CartDetail{
    display: block;
    margin: 0 20rem 15px;
}
.CartItemNum{
    display: inline-block;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
}
.CartItemPrice{
    display: inline-block;
    width: 50%;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}
.CartItems{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}