.productPageTitle{
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.productPage{
    display: block;
    margin: 0 6rem;
}