.CartItem{
    display: block;
    width: 850px;
    height: 150px;
    padding: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin-bottom: 30px;
}

 .cartItemDetail{
    display: block;
    padding: 0 0 0 15px;
}
.ItemAllDetail
{
    padding-top: -50px;
    display: inline-block;
    width: 620px;
    height: 120px;
}
.ItemName{
    display: inline-block;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
}
.ItemPrice{
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}
.ItemSubName{
    display: inline-block;
    width: 50%;
    font-size: 15px;
    font-weight: 300;
    color: #f14d54;
}
.ItemDis{
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    color: #f14d54;
}
.ItemNumInp{
    width: 1.5em;
    height: 1.5em;

}
.ItemCount{
    display: block;
    margin-top: 10px;
}