.searchBar{
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}
.se{
   height: 40px;
   padding-left: 10px;
   color: rgb(118, 118, 118);
   width: 422px;
   border-radius: 5px;
   border-width: 1px;
   border-color:rgb(118, 118, 118);
}
.MuiButton-contained {
    text-transform:capitalize !important;
}